<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add money</title>
</head>
<body>
    {% if role is not none and role == "admin" %}
    <h2>Add money</h2>
    <form action="/add_money" method="POST">
        Account number: <input type="number" name="acc_number">
        Amount: <input type="number" name="amount">
        <input type="submit" name="submit">
    </form>
    {% endif %}
</body>
</html>